{% extends "layout.html" %}
{% block content %}
<h1>Project {{pid}}</h1>

<h2>Add Hours:</h2>

<form method="POST">

  <div style="display: flex; gap: 20px; align-items: end;">

    <div>
      <label>Employee:
        <select name="emp_id">
            <option value="">None</option>
            {% for e in employees %}
                <option value="{{ e[0] }}">{{ e[1] }} {{ e[2] }} {{ e[3] }}</option>
            {% endfor %}
        </select>
      </label>
    </div>

    <div>
      <label>Hours:
        <input name="hours" type="number" required>
      </label>
    </div> 

    <div>
      <button type="submit">Submit</button>
    </div>

  </div>

</form>

<h2> Project {{pid}} Employees </h2>

<table>
  
  <thead>
    <tr>
      <th>Employee Name</th>
      <th>Hours</th>
    </tr>
  </thead>

  <tbody>
    {% for p in projects %}
    <tr>
      <td>{{ p[0] }} {{ p[1] }} {{ p[2] }}</td>
      <td>{{ p[3] }}</td>
    </tr>
    {% endfor %}
  </tbody>

</table>

{% endblock %}
